/*#region Tag section*/
    .TagSection
    {
        overflow: hidden;
        white-space: nowrap;
        border-bottom: 1px solid var(--bordergray);
    }
    .TagButton
    {
        cursor: grab !important;
        background-color: var(--lightbg);
        color: var(--normalgray);
        font-weight: 600;
        width: auto;
    }
    .TagFilterButton
    {
        width: 2.6rem;
        background-color: var(--purple);
        border: 1px solid var(--purple);
    }
    .TagFilterButton > p::before
    {
        background-image: url("icons/filter.png");
        background-size: 1rem 1rem;
        margin-left: -0.25rem;
        margin-top: 0.75rem;
        background-repeat: no-repeat;
    }
    .TagFilterButton > p::after
    {
        display: none;
    }
    .TagFilterButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
    }
    @media only screen and (max-width: 767px)
    {
        .TagFilterButton
        {
            height: 2rem;
            width: 2rem;
        }
        .TagFilterButton > p::before
        {
            background-size: 1rem 1rem;
            margin-left: -0.55rem;
            margin-top: 0.45rem;
        }
        .TagButton
        {
            height: 2rem;
            line-height: 1.9rem;
        }
    }
/*#endregion*/

/*#region All cards*/
    .MediumCard
    {
        cursor: auto;
    }
    @media only screen and (min-width: 0px) and (max-width: 450px)
    {
        .MediumCard
        {
            width: 100%;
        }
    }
    @media only screen and (min-width: 450px) and (max-width: 669px)
    {
        .MediumCard
        {
            width: 48%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 670px) and (max-width: 767px)
    {
        .MediumCard
        {
            width: 48%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1300px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 1301px) and (max-width: 1800px)
    {
        .MediumCard
        {
            width: 24%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }
    @media only screen and (min-width: 1801px)
    {
        .MediumCard
        {
            width: 19%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }
/*#endregion*/

/*#region Restaurant overlay*/
    .RestaurantOverlayContainer
    {
        width: 32rem;
        min-height: 70vh;
        margin: auto;
        margin-top: 2rem;
        background-color: var(--lightbg);
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .ImageHalf
    {
        min-height: 35vh;
        background-image: url('images/rest_popup.png');
        background-size: cover;
        background-position: center;
    }
    @media only screen and (max-width: 767px)
    {
        .RestaurantOverlayContainer
        {
            width: 90vw;
            margin-top: 5vw;
        }
    }
/*#endregion*/

/*#region Calendar overlay*/
    .CalendarOverlayContainer
    {
        width: 26rem;
        height: 100vh;
        margin-top: 5vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .CloseCalendarOverlay
    {
        width: 26rem;
        position: absolute;
    }
    @media only screen and (max-width: 767px)
    {
        .CalendarOverlayContainer
        {
            width: 90vw;
            margin-top: 5vw;
            margin-left: 5vw;
            position: fixed;
        }
        .CloseCalendarOverlay
        {
            width: 90vw;
            position: absolute;
        }
    }
/*#endregion*/

/*#region Calendar*/
    @media (pointer:coarse)
    {
        .CardNavButton
        {
            display: block !important;
        }
    }
    .CalendarWrapper
    {
        height: 37rem;
        background-color: white;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .CalendarLine
    {
        border: 1px solid var(--lightestgray);
    }
    .InnerBox
    {
        max-width: 22rem;
    }
    .CheckInText
    {
        font-weight: 600;
        font-size: 1rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        background-color: var(--purple);
        color: white;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    .CheckInButton
    {
        background-color: var(--green);
        border: 1px solid var(--green);
        width: 12rem;
        font-weight: bold;
        line-height: 2.4rem;
        color: white;
    }
    .CheckInButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
        transition: all 150ms;
    }
    .TimePill
    {
        height: 3.2rem;
        line-height: 3.1rem;
        background: url("icons/time.png") no-repeat left;
        background-size: 1.1rem;
        background-position-x: 0.8rem;
    }
    .GuestsPill
    {
        height: 3.2rem;
        line-height: 3.1rem;
        background: url("icons/guest.png") no-repeat left;
        background-size: 1.1rem;
        background-position-x: 0.8rem;
    }
/*#endregion*/
