/*#region Tag section*/
    .TagSection
    {
        overflow: hidden;
        white-space: nowrap;
        border-bottom: 1px solid var(--bordergray);
    }
    .TagButton
    {
        cursor: grab !important;
        background-color: var(--lightbg);
        color: var(--normalgray);
        font-weight: 600;
        width: auto;
    }
    .TagFilterButton
    {
        width: 2.6rem;
        background-color: var(--purple);
        border: 1px solid var(--purple);
        background-image: url("icons/filter.png");
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: center;
    }
    .TagFilterButton > p::before
    {
        display: none;
    }
    .TagFilterButton > p::after
    {
        display: none;
    }
    .TagFilterButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
    }
    @media only screen and (max-width: 767px)
    {
        .TagFilterButton
        {
            background-size: 0.9rem 0.9rem;
            height: 2rem;
            width: 2rem;
        }
        .TagFilterButton > p::before
        {
            background-size: 1rem 1rem;
            margin-left: -0.55rem;
            margin-top: 0.45rem;
        }
        .TagButton
        {
            height: 2rem;
            line-height: 1.9rem;
        }
    }
/*#endregion*/

/*#region All cards*/
    .MediumCard
    {
        cursor: auto;
    }
    @media only screen and (min-width: 0px) and (max-width: 767px)
    {
        .MediumCard
        {
            width: 100%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 8rem;
        }
        .CardReserveButtonContainer
        {
            width: 100%;
        }
        .CardHalfContainer
        {
            display: flex;
        }
        .CardImageHalf
        {
            width: clamp(1rem, 45vw, 25rem);
        }
        .CardImageHalf img
        {
            object-fit: cover;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1300px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 1301px) and (max-width: 1800px)
    {
        .MediumCard
        {
            width: 24%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }
    @media only screen and (min-width: 1801px)
    {
        .MediumCard
        {
            width: 19%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }
/*#endregion*/

/*#region Calendar overlay*/
.CalendarOverlayContainer
{
    width: 26rem;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.CalendarSide .CalendarSuccessPopup, .NavOverlay .CalendarSuccessPopup
{
    width: 26rem;
}
.CloseCalendarOverlay
{
    z-index: 3;
    width: 26rem;
    position: absolute;
}
@media only screen and (max-width: 767px)
{
    .CalendarOverlayContainer
    {
        width: 90vw;
        margin-top: 5vw;
        margin-bottom: calc(5vw + 3.3rem);
        margin-left: 5vw;
    }
    .CalendarSide .CalendarSuccessPopup, .NavOverlay .CalendarSuccessPopup
    {
        width: 90vw;
    }
    .CloseCalendarOverlay
    {
        width: 90vw;
        position: absolute;
    }
}
/*#endregion*/

/*#region Calendar*/
@media (pointer:coarse)
{
    .CardNavButton
    {
        display: block !important;
    }
}
.CalendarSide .CalendarWrapper
{
    position: -webkit-sticky;
    position: sticky;
    top: calc(50% - 21rem);
    background-color: white;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    width: 100%;
    height: 42rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.NavOverlay .CalendarWrapper
{
    background-color: white;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.CalendarLine
{
    border: 1px solid var(--lightestgray);
}
.InnerBox
{
    max-width: 22rem;
}
.DateButtonDiv
{
    display: flex;
    justify-content: center;
}
.EmptyDateButtonDiv > button
{
    border: none;
    background-color: transparent;
}
.DateButtonDiv > button
{
    padding: 0;
    color: var(--darkgray);
    border: none;
    background-color: transparent;
    font-weight: 500;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    line-height: 1.6rem;
}
.DateButtonDiv > button:disabled
{
    color: var(--normalgray);
}
.DateButtonDiv > button:disabled:after
{
    width: 50%;
    position: absolute;
    content: "";
    left: 25%;
    top: 45%;
    right: 0;
    border-top: 1px solid var(--lightergray);
    -webkit-transform: skewY(-40deg);
    -moz-transform: skewY(-40deg);
    transform: skewY(-40deg);
}
.DateButtonDiv > button[data-selected], .DateButtonDiv > button:not([disabled]):hover
{
    background-color: var(--purple);
    font-weight: 600;
    transition: all 150ms;
    cursor: pointer;
    color: white;
}
.CheckInText
{
    font-weight: 600;
    font-size: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: var(--purple);
    color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.CheckInButton
{
    background-color: var(--green);
    border: 1px solid var(--green);
    width: 12rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: white;
}
.CheckInButton:hover
{
    background-color: var(--black);
    border: 1px solid var(--black);
    transition: all 150ms;
}
.GuestsPill
{
    height: 3.2rem;
    line-height: 3.1rem;
    background: url("icons/guest.png") no-repeat left;
    background-size: 1.1rem;
    background-position-x: 0.8rem;
}
.TimeToggleButtons
{
    gap: 4%;
}
.TimeToggleButtons > div
{
    width: 22%;
}
.TimeToggle
{
    border-radius: 1.3rem;
    border: 1px solid var(--bordergray);
    color: var(--darkergray);
    font-weight: 500;
    background-color: transparent;
    width: 100%;
    height: 2.6rem;
    line-height: 2.3rem;
}
.TimeToggle:active, .TimeToggle:hover, .TimeToggle[data-selected]
{
    background-color: var(--purple);
    font-weight: 500;
    color: white;
    border: 1px solid var(--purple);
    transition: 150ms all;
}
.CalendarSide .CalendarSuccessPopup, .NavOverlay .CalendarSuccessPopup
{
    display: none;
    background-color: var(--purple);
    border-radius: 0.5rem;
    z-index: 2;
    position: absolute;
}
.CalendarSuccessPopup p
{
    width: 16rem;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}
/*#endregion*/
