@media only screen and (max-width: 770px)
{

  .MaxWidth
  {
      padding: 0 0rem 0 0rem !important;
  }

  .colorhederblackt{
    color: black;
    
}


.FavouriteRestaurantFontt{
    font-size: 1.2rem !important;
}
}

.FavouriteRestaurantFontt{
    font-size: 1.3rem;
}

@media only screen and (max-width: 1800px)
{
.DisplayNoner{
    display: none;
}

    
}


@media only screen and (min-width: 1800px)
{
.DisplayNonerx{
    display: none;
}

    
}

.ProfileCardBox{
    margin-left: 0rem;
    margin-right: 0rem;
}

