/*#region General styles and links*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    :root
    {
        --darkergray: #3f3f3f;
        --darkgray: #525353;
        --normalgray: #8d8d8d;
        --lightgray: #b2b2b2;
        --lightergray: #b3b3b3;
        --bordergray: #d9d9d9;
        --lightestgray: #eeeeee;
        --transparentgray: rgba(53, 53, 53, 0.904);

        --bg: #f6f7f6;
        --lightbg: #fdfdfd;
        --black: #212120;
        --purple: #41198F;
        --hoverpurple: #3C1B8A;
        --overlaypurple: rgba(65, 25, 143, 0.8);
        --green: #00c400;
        --blue: #3b5998;
    }
    *
    {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus
    {
        outline: none;
    }
    html, body
    {
        background-color: var(--lightbg);
    }
    .navbar
    {
        height: 5rem;
        z-index: 4;
        background-color: var(--lightbg);
    }
    @media only screen and (max-width: 767px)
    {
        .TopNavbar
        {
            width: 100%;
            position: fixed;
            transition: all 250ms ease;
            z-index: 4;
        }
    }
    .dropdown-toggle::after
    {
        display: none !important;
    }
    .ScrollDisabled
    {
        overflow-y: scroll;
    }
    .NavbarLine
    {
        border-bottom: 1px solid var(--bordergray);
    }
    .IncTime::placeholder
    {
        color: black;
    }
/*#endregion*/

/*#region Used for multiple elements*/
    .PillElement
    {
        height: 2.6rem;
        width: 8.5rem;
        border: 1px solid var(--bordergray);
        border-radius: 1.5rem;
        font-size: 0.8rem;
        line-height: 2.6rem;
        font-weight: lighter;
    }
    .IconText::before, .IconText::after
    {
        display: block;
        content: '';
        position: absolute;
        background-size: 1.3rem 1.3rem;
        width: 1.3rem;
        height: 1.3rem;
    }
    .IconText::before
    {
        margin-left: 0.8rem;
        margin-top: 0.58rem;
    }
    .IconText::after
    {
        margin-left: 6.3rem;
        margin-top: -2.05rem;
        
    }
    .VariableH1
    {
        font-size: clamp(1.9rem, 4vw, 2.6rem);
    }
    .MediumH1
    {
        font-size: 1.7rem;
    }
    .DividerLine
    {
        border-bottom: 1px solid var(--bordergray);
    }
    .BoxShadow
    {
        box-shadow:
        0px 2.7px 5.3px rgba(0, 0, 0, 0.06),
        0px 8.9px 15px rgba(0, 0, 0, 0.09),
        0px 18px 18px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow:
        0px 2.7px 5.3px rgba(0, 0, 0, 0.06),
        0px 8.9px 15px rgba(0, 0, 0, 0.09),
        0px 18px 18px rgba(0, 0, 0, 0.18);
    }
    .PopupScrollbar
    {
        overflow-y: scroll;
    }
    @media only screen and (max-width: 575px)
    {
        .MobileNavbarTopSpacer
        {
            height: 4rem;
        }        
    }
    @media only screen and (min-width: 576px) and (max-width: 767px)
    {
        .MobileNavbarTopSpacer
        {
            height: 5rem;
        }        
    }

/*#endregion*/

/*#region Page width and spacing from sides*/
    .MaxSwiperWidth
    {
        padding: 0 0 0 0;
    }
    /*XS*/
        @media only screen and (min-width: 0px) and (max-width: 575px)
        {
            .MaxWidth
            {
                padding: 0 1rem 0 1rem;
            }
            .ResultMaxWidth
            {
                padding: 0 0 0 1rem;
            }
            .MaxWidthMargin
            {
                margin: 0 0rem 0 0rem;
            }
            .StartSlide
            {
                margin-left: 0.75rem;
            }
            .EndSlide
            {
                margin-right: 0.75rem;
            }
            .LangDropdown
            {
                margin-left: -5.75rem;
            }
            .Triangle
            {
                margin-left: 5.75rem;
            }
        }
    /*SM*/
        @media only screen and (min-width: 576px) and (max-width: 767px)
        {
            .MaxWidth
            {
                padding: 0 1rem 0 1rem;
            }
            .ResultMaxWidth
            {
                padding: 0 0 0 1rem;
            }
            .MaxWidthMargin
            {
                margin: 0 0rem 0 0rem;
            }
            .StartSlide
            {
                margin-left: 0.75rem;
            }
            .EndSlide
            {
                margin-right: 0.75rem;
            }
            .LangDropdown
            {
                margin-left: -5.75rem;
            }
            .Triangle
            {
                margin-left: 5.75rem;
            }
        }
    /*MD*/
        @media only screen and (min-width: 768px) and (max-width: 991px)
        {
            .MaxWidth
            {
                padding: 0 1.5rem 0 1.5rem;
            }
            .ResultMaxWidth
            {
                padding: 0 0 0 1.5rem;
            }
            .MaxWidthMargin
            {
                margin: 0 0.5rem 0 0.5rem;
            }
            .StartSlide
            {
                margin-left: 1rem;
            }
            .EndSlide
            {
                margin-right: 1rem;
            }
            .LangDropdown
            {
                margin-left: -5.75rem;
            }
            .Triangle
            {
                margin-left: 5.75rem;
            }
        }
    /*LG*/
        @media only screen and (min-width: 992px) and (max-width: 1199px)
        {
            .MaxWidth
            {
                padding: 0 2rem 0 2rem;
            }
            .ResultMaxWidth
            {
                padding: 0 0 0 2rem;
            }
            .MaxWidthMargin
            {
                margin: 0 1rem 0 1rem;
            }
            .StartSlide
            {
                margin-left: 1.5rem;
            }
            .EndSlide
            {
                margin-right: 1.5rem;
            }
            .LangDropdown
            {
                margin-left: -5.75rem;
            }
            .Triangle
            {
                margin-left: 5.75rem;
            }
        }
    /*XL*/
        @media only screen and (min-width: 1200px)
        {
            .MaxWidth
            {
                padding: 0 2.5rem 0 2.5rem;
            }
            .ResultMaxWidth
            {
                padding: 0 0 0 2.5rem;
            }
            .MaxWidthMargin
            {
                margin: 0 1.5rem 0 1.5rem;
            }
            .StartSlide
            {
                margin-left: 2rem;
            }
            .EndSlide
            {
                margin-right: 2rem;
            }
            .LangDropdown
            {
                margin-left: -0.75rem;
            }
            .Triangle
            {
                margin-left: 2.9rem;
            }
        }
/*#endregion*/

/*#region Text colors*/
    .ColorText
    {
        color: var(--purple);
    }
    .ColorText2
    {
        color: var(--green);
    }
    .DarkGrayText
    {
        color: var(--darkergray);
    }
    .GrayText
    {
        color: var(--normalgray);
    }
    .LightGrayText, .LightGrayText:link, .LightGrayText:visited, .LightGrayText:hover, .LightGrayText:active
    {
        color: var(--lightgray);
    }
/*#endregion*/

/*#region Checkbox*/
.CheckboxLabel
{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
.CustomCheckbox
{
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid gray;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.CustomCheckbox::before
{
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: top;
    transition: 150ms all;
    box-shadow: inset 1em 1em white;
}
.CustomCheckbox:checked
{
    background-color: var(--green);
    border: var(--green);
}
.CustomCheckbox:checked::before
{
    transform: scale(1);
}
/*#endregion*/


/*#region Search box*/
    .SearchBox
    {
        font-weight: 500;
        padding-top: 0.1rem;
        width: 11rem;
        background-color: white !important;
        color: var(--black);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .SearchBox::placeholder
    {
        color: var(--black);
    }
/*#endregion*/

/*#region TOP NAVBAR Search and Filter buttons*/
    .SearchBoxButton
    {
        width: 3rem;
        background-color: var(--bordergray);
        border: 1px solid var(--bordergray);
        color: white;
        font-weight: 400;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .SearchBoxButton > p::before
    {
        background-image: url("icons/loupe.png");
        margin-left: -0.25rem;
        margin-top: -0.5rem;
        background-size: 1rem 1rem;
        width: 1rem;
        height: 1rem;
    }
    .SearchBoxButton:active, .SearchBoxButton:hover
    {
        background-color: var(--hoverpurple);
        border: 1px solid var(--hoverpurple);
        transition: all 150ms linear;
    }
    .SearchBoxButton:active > p::before, .SearchBoxButton:hover > p::before
    {
        background-image: url("icons/loupew.png");
    }
    .FilterButton
    {
        width: 2.6rem;
        background-color: var(--purple);
        border: 1px solid var(--purple);
        background-image: url("icons/filter.png");
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-position: center;
    }
    .FilterButton > p::before
    {
        display: none;
    }
    .FilterButton > p::after
    {
        display: none;
    }
    .FilterButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
    }
/*#endregion*/


/*#region TOP NAVBAR DROPDOWN General elements*/
    .Triangle
    {
        margin-top: -0.75rem;
        margin-left: 5.75rem;
        position: relative;
        left: 0;
        right: 0;
        text-align: center;
        width: 0;
        height: 0;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom: 2.2rem solid #41198F;
    }
    .DropdownButton
    {
        height: 2.6rem;
        font-size: 0.8rem;
        line-height: 2.6rem;
        border: none;
        background-color:#41198F;
        color: white;
    }
    .DropdownButton:link, .DropdownButton:visited, .DropdownButton:hover, .DropdownButton:active
    {
        color: white;
    }
    .NavbarSpacer
    {
        height: 2.6rem;
        border: 0.5px solid var(--bordergray);
    }
    .CustomNavLink:link, .CustomNavLink:visited, .CustomNavLink:hover, .CustomNavLink:active
    {
        font-size: 0.8rem;
        color: var(--black);
        font-weight: 500;
    }
/*#endregion*/

/*#region TOP NAVBAR Profile button*/
    .ProfileButton
    {
        color: white;
        border: 1px solid var(--darkergray);
        background-color: var(--darkergray);
    }
    .ProfileButton > p::before
    {
        background-image: url("icons/account_white.png");
    }
    .ProfileButton > p::after
    {
        display: none; /*Remove to show dropdown arrow*/
        background-image: url("icons/down_arrow.png");
        background-size: 1.4rem 1.4rem;
        background-repeat: no-repeat;
    }
    .ProfileButton:active, .ProfileButton:hover
    {
        background-color: var(--purple);
        border: 1px solid var(--purple);
        transition: all 150ms linear;
    }
/*#endregion*/

/*#region TOP NAVBAR Profile button DROPDOWN*/
    .ProfileDropdown, .ProfileDropdown > *
    {
        display: none;
    }
    .ProfileButton:focus + .ProfileDropdown, .ProfileDropdown > *
    {
        display: block;
    }
    .ProfileDropdown
    {
        position: absolute;
        width: 10rem;
        margin-top: 3.1rem;
        margin-left: -0.75rem;
        border: 1px solid transparent;
        border-radius: 1.5rem;
        position: absolute;
        background-color:#41198F;
    }
/*#endregion*/

/*#region TOP NAVBAR Language button*/
    .LangButton
    {
        text-align: right;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid transparent;
    }
    .LangButton > p::before
    {
        background-image: url("icons/globe.png");
        background-size: 1.3rem 1.3rem;
        background-repeat: no-repeat;
    }
    .LangButton > p::after
    {
        background-image: url("icons/down_arrow_dark.png");
        background-size: 1.3rem 1.3rem;
        margin-top: -1.9rem;
        background-repeat: no-repeat;
    }
    .LangButton:active, .LangButton:hover
    {
        background-color: var(--bordergray);
        border: 1px solid var(--bordergray);
        transition: all 150ms linear;
    }
    @media only screen and (max-width: 350px)
    {
        .LangButton
        {
            display: none; 
        }
    }

/*#endregion*/

/*#region TOP NAVBAR Language button DROPDOWN*/
    .LangDropdown, .LangDropdown > *
    {
        display: none;
    }
    .LangButton:focus + .LangDropdown, .LangDropdown > *
    {
        display: block;
    }
    .LangDropdown
    {
        position: absolute;
        width: 10rem;
        margin-top: 0.5rem;
        border: 1px solid transparent;
        border-radius: 1.5rem;
        position: absolute;
        background-color:#41198F;
    }
    @media only screen and (min-width: 0px) and (max-width: 1199px)
    {
        .LangButton
        {
            width: 4rem;
        }
        .LangButton > p
        {
            color: transparent;
        }
        .LangButton > p::before
        {
            margin-left: 0.5rem;
        }
        .LangButton > p::after
        {
            margin-left: 2.2rem !important;
        }
    }
/*#endregion*/

/*#region TOP NAVBAR Sizes*/
@media only screen and (min-width: 0px) and (max-width: 575px)
{
    .navbar
    {
        height: 4rem;
    }
    .navbar .BrandLogo
    {
        width: 50px;
        height: 20px;
    }
    .navbar .SearchBox
    {
        width: 6rem;
    }
    .navbar .SearchBox, .navbar .SearchBoxButton, .navbar .FilterButton
    {
        height: 2.2rem;
    }
    .navbar .FilterButton
    {
        width: 2.2rem;
    }
    .navbar .FilterButton
    {
        margin-top: 0.55rem;
        margin-left: -0.45rem;
        background-size: 0.9rem 0.9rem;
    }
    .LangButton
    {
        height: 2.2rem;
    }
    .LangButton > p::before
    {
        margin-top: 0.4rem;
    }
    .LangButton > p::after
    {
        margin-top: -2.05rem;
    }
}
/*#endregion*/


/*#region CONTENT Custom header*/
    .HeaderSizingBox
    {
        height: 19rem;
    }
    .CustomHeader
    {
        background-image: url("images/header.jpg");
        background-size: cover;
        background-position: center;
    }
    .HeaderText
    {
        font-weight: bold;
        display: inline-block;
        height: 1rem;
    }
/*#endregion*/

/*#region CONTENT Search section*/
    .SearchSection
    {
        margin-top: -4rem;
    }
    .FloatingSearch
    {
        max-width: 56rem;
        min-height: 6rem;
        border: 1px solid var(--lightestgray);
        border-radius: 1.5rem;
        background-color: white;
    }
    .SearchEl1, .SearchEl2, .SearchEl3, .SearchEl4
    {
        background-color: white;
        padding-left: 2.8rem;
        font-weight: 500;
    }
    .SearchEl1::placeholder, .SearchEl2::placeholder, .SearchEl3::placeholder, .SearchEl4::placeholder
    {
        color: var(--black);
    }
    .SearchEl1
    {
        width: 62.5%;
        background: url("icons/home.png") no-repeat left;
        background-size: 1.4rem;
        background-position-x: 0.8rem;
    }
    .SearchEl2
    {
        width: 35%;
        background: url("icons/location.png") no-repeat left;
        background-size: 1.4rem;
        background-position-x: 0.8rem;
    }
    .SearchEl3
    {
        width: 32.5%;
        background: url("icons/account_black.png") no-repeat left;
        background-size: 1.4rem;
        background-position-x: 0.8rem;
    }
    .SearchEli
    {
        width: 32.5%;
        background: url("icons/account_white.png") no-repeat left;
        background-size: 1.4rem;
        background-position-x: 0.8rem;
    }
    .SearchEl4
    {
        width: 37.5%;
        background: url("icons/calendar.png") no-repeat left;
        background-size: 1.4rem;
        background-position-x: 0.8rem;
    }
    .SearchEl5
    {
        width: 25%;
        background-color: var(--purple);
        border: 1px solid var(--purple);
        color: white;
    }
    .SearchEl5:active, .SearchEl5:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
        transition: all 150ms linear;
    }
    .ValueButton
    {
        color: white;
        display: inline-block;
        border: none;
        width: 1.2rem;
        height: 1.2rem;
        background-color: var(--lightgray);
        line-height: 1rem;
        font-weight: bold;
    }
    .ValueButton:active
    {
        background-color: var(--darkgray);
        transition: all 150ms linear;
    }
    .ValueButton:hover
    {
        background-color: var(--darkgray);
        cursor: pointer;
        transition: all 150ms linear;
    }
    .Incrementor .Decrease
    {
        border-radius: 50%;
    }
    .Incrementor .Increase
    {
        border-radius: 50%;
    }
    .IncNumber
    {
        text-align: center;
        border: none;
        margin: 0px;
        padding: 0;
        width: 1.2rem;
        height: 2rem;
    }
    .IncTime
    {
        text-align: center;
        border: none;
        margin: 0px;
        padding: 0;
        width: 2.3rem;
        height: 2rem;
    }
    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
    {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="date"]::-webkit-calendar-picker-indicator
    {
        background: transparent;
        cursor: pointer;
        position: absolute;
        width: 37%;
        height: 2.6rem;
        margin-left: -3.1rem;
        margin-top: -0.2rem;
        border-radius: 1.5rem;
    }
    @media only screen and (max-width: 575px)
    {
        .SearchEl1, .SearchEl2, .SearchEl3, .SearchEl4, input[type="date"]::-webkit-calendar-picker-indicator
        {
            width: 100%;
        }
        .SearchEl5
        {
            width: 50%;
        }
    }
    @media only screen and (min-width: 992px)
    {
        input[type="date"]::-webkit-calendar-picker-indicator
        {
            margin-left: -1.6rem;
        }
    }

/*#endregion*/


/*#region CONTENT Card sizes*/
    .LargeCard img
    {
        aspect-ratio: 752 / 359;
        border-radius: 0.3rem;
    }
    .MediumCard
    {
        width: 21rem;
    }
    .MediumCard img
    {
        aspect-ratio: 422 / 248;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    .SmallCard
    {
        width: 15rem;
    }
    .SmallCard img
    {
        aspect-ratio: 230 / 257;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    @media only screen and (min-width: 0px) and (max-width: 575px)
    {
        .LargeCard
        {
            width: 92%;
        }
    }
    @media only screen and (min-width: 576px) and (max-width: 767px)
    {
        .LargeCard
        {
            width: 92%;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .LargeCard
        {
            width: 40rem;
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px)
    {
        .LargeCard
        {
            width: 40rem;
        }
    }
    @media only screen and (min-width: 1200px)
    {
        .LargeCard
        {
            width: 40rem;
        }
    }

/*#endregion*/

/*#region CONTENT Cards*/
    .DesktopCardNav > a:link, .DesktopCardNav > a:visited, .DesktopCardNav > a:hover, .DesktopCardNav > a:active
    {
        color: var(--darkergray);
    }
    .CardNavButton
    {
        width: 2rem !important;
        height: 2rem !important;
        aspect-ratio: 1 / 1;
        padding: 0;
        border: 1px solid var(--bordergray);
        font-size: 1.5rem;
        line-height: 1.8rem;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
    }
    .CardNavButton:active
    {
        background-color: var(--lightgray);
        transition: all 150ms linear;
    }
    @media (pointer:coarse)
    {
        .CardNavButton
        {
            display: none !important;
        }
    }
    .CardBox
    {
        border-radius: 0.3rem;
        cursor: -webkit-grab;
        cursor: grab;
    }
    .CardBox > div
    {
        border: 1px solid var(--bordergray);
        border-radius: 0.3rem;
    }
    .CardXDivider
    {
        border-top: 1px solid var(--bordergray);
    }
    .CardYDivider
    {
        border: 0.5px solid var(--bordergray);
        height: 1.9rem;
    }
    .HeartButton
    {
        padding: 0;
        border: 0;
        background-color: transparent;
    }
    .CardReserveButton
    {
        border: 1px solid var(--green);
        background-color: var(--green);
        color: white;
        border-radius: 0.95rem;
        height: 1.9rem;
        width: 5rem;
    }
    .ClickableImage
    {
        display: flex;
        position: relative;
    }
    .ClickableImage::before
    {
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        content: "";
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .ClickableImageFull::before
    {
        border-radius: 0.3rem;
    }
    .ClickableImage:hover::before
    {
        transition: all 150ms;
        background-color: var(--hoverpurple);
        opacity: 60%;
    }
    .ClickableImage:link, .ClickableImage:visited, .ClickableImage:hover, .ClickableImage:active
    {
        color: white;
    }
    .SmallCardText
    {
        font-weight: 500;
        font-size: 0.75rem;
    }
    .SmallerCardText
    {
        font-weight: 500;
        font-size: 0.65rem;
    }
    .CardNavButton
    {
        display: block;
    }
    .DesktopCardNav
    {
        justify-content: right !important;
    }
    .CardOverlayText
    {
        z-index: 2;
        position: absolute;
        bottom: 0;
        margin-left: 1.5rem;
        font-weight: 600;
        font-size: 1.2rem;
    }
    .FloatingHeartButton
    {
        background-color: var(--lightbg);
        position: absolute;
        z-index: 3;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin: 0.5rem;
    }
/*#endregion*/


/*#region FOOTER Download section*/
.DownloadSection
{
    color: white;
    background-color: var(--purple);
    font-size: 1.5rem;
    font-weight: 500;
}
@media only screen and (max-width: 480px)
{
    .DownloadSection > p
    {
        font-size: 0.75rem;
    }  
    .DownloadButton
    {
        width: 7rem;
    }
}
.DownloadButton
{
    background-color: var(--bg);
    color: var(--purple);
    font-weight: 500;
    border: 1px solid var(--bg);
}
.DownloadButton:active, .DownloadButton:hover
{
    background-color: var(--black);
    border: 1px solid var(--black);
    color: white;
    transition: all 150ms linear;
}
/*#endregion*/

/*#region FOOTER*/
    .CustomFooter
    {
        background-color: var(--black);
        color: var(--bg);
        box-shadow: 0 35vh 0 35vh var(--black);
    }
    .FooterRow
    {
        border-bottom: 0.1rem solid var(--darkgray);
    }
    .Copyright
    {
        font-size: 0.7rem;
    }
    .CustomFooter a:link, .CustomFooter a:visited, .CustomFooter a:hover, .CustomFooter a:active
    {
        color: var(--bg);
    }
/*#endregion*/


/*#region OVERLAY General elements*/
    .CloseOverlay
    {
        width: 2rem !important;
        height: 2rem !important;
        padding: 0;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: none;
        font-size: 2rem;
        line-height: 2.2rem;
        color: var(--lightgray);
        background-color: var(--bg);
        font-weight: 200;
    }
    .CloseOverlay:active, .CloseOverlay:focus, .CloseOverlay:hover
    {
        transition: all 150ms linear;
        color: white;
        background-color: var(--purple);
    }
/*#endregion*/

/*#region OVERLAY Login*/
    .LoginOverlayContainer
    {
        color: var(--black);
        width: 32rem;
        height: 40rem;
        margin: auto;
        margin-top: 5vh;
        background-color: var(--bg);
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .LoginBox
    {
        width: 60%;
    }
    .CloseLoginOverlay
    {
        position: absolute;
        background-color: var(--purple);
        transition: all 150ms;
    }
    .CloseLoginOverlay:active, .CloseLoginOverlay:hover
    {
        background-color: var(--lightgray);
    }
    @media only screen and (max-width: 767px)
    {
        .LoginOverlayContainer
        {
            position: fixed;
            width: 90vw;
            margin-top: 5vw;
            margin-left: 5vw;
            height: calc(100vh - 3.3rem - 10vw);
        }
        .LoginBox
        {
            width: 80%;
        }
        .CloseLoginOverlay
        {
            right: 0rem;
        }
    }
    .LoginBox > h3
    {
        font-weight: 700;
        color: var(--purple);
    }
    .LoginBox .LoginInput
    {
        width: 100%;
        height: 2.6rem;
        background-color: var(--lightbg);
        border: 1px solid var(--bordergray);
        border-radius: 1rem;
        font-size: 0.75rem;
    }::placeholder
    {
        color: var(--lightgray);
    }
    /*----------------------------------------*/
    .SmallLoginText
    {
        font-size: 0.75rem;
        font-weight: 600;
    }
    .GrayLoginText, .GrayLoginText a:link, .SmallLoginText a:visited, .SmallLoginText a:hover, .SmallLoginText a:active
    {
        line-height: 1.2;
        color: var(--lightgray);
    }
    /*----------------------------------------*/
    .StartButton
    {
        background-color: var(--green);
        font-weight: 500;
        border: 1px solid var(--green);
        color: white;
        line-height: 2.4rem;
    }
    .StartButton:active, .StartButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
        transition: all 150ms;
    }
    /*----------------------------------------*/
    .ContinueText
    {
        line-height: 2rem;
    }
    .ContinueButton
    {
        width: 2rem;
        height: 2rem;
        border: 0;
        border-radius: 50%;
        background-color: transparent;
    }
    .ContinueIcon
    {
        height: 2rem;
        width: 2rem;
        border-radius: 1rem;
    }
    .ContinueIcon:hover, .ContinueIcon:active
    {
        background-color: var(--green);
        transition: all 150ms;
    }
    /*----------------------------------------*/
    .RegisterElement
    {
        font-size: 0.75rem;
        margin-top: 2rem;
    }
    .RegisterElement a:link, .RegisterElement a:visited, .RegisterElement a:hover, .RegisterElement a:active
    {
        color: var(--green);
    }
    .GoogleButton
    {
        border: 1px solid var(--bordergray);
        background-color: var(--lightbg);
    }
    .GoogleButton::before
    {
        display: block;
        content: '';
        position: absolute;
        background-size: 1.3rem 1.3rem;
        width: 1.3rem;
        height: 1.3rem;
        background-image: url(icons/google2.png);
        margin-top: -0.1rem;
    }
    .FacebookButton
    {
        border: 1px solid var(--blue);
        background-color: var(--blue);
        color: white;
    }
    .FacebookButton::before
    {
        display: block;
        content: '';
        position: absolute;
        background-size: 1.3rem 1.3rem;
        width: 1.3rem;
        height: 1.3rem;
        background-image: url(icons/facebook2.png);
        margin-top: -0.1rem;
    }
    .GoogleButton, .FacebookButton
    {
        font-weight: 500;
        font-size: 0.7rem;
        width: 14rem;
        height: 2rem;
        border-radius: 0.5rem;
    }
/*#endregion*/

/*#region OVERLAY Mobile navbar*/
    .MobileNavbar
    {
        position: fixed;
        bottom: 0;
        background-color: var(--bg);
        color: var(--black);
        height: 3.3rem;
        font-size: 0.6rem;
        z-index: 5;
        transition: all 150ms ease-in-out;
    }
    .MobileNavbar a:link, .MobileNavbar a:visited, .MobileNavbar a:hover, .MobileNavbar a:active
    {
        color: var(--black);
    }
    .MobileNavButton
    {
        color: var(--lightergray);
        width: 20%;
        border: none;
        background-color: #41198F;
    }
    .MobileNavButton:active, .MobileNavButton:hover
    {
        background-color: var(--purple);
        transition: all 150ms linear;
    }
    .MobileNavIcon
    {
        width: 1.3rem;
        height: 1.3rem;
    }
    .ActiveGreenFilter
    {
        filter: invert(51%) sepia(95%) saturate(1470%) hue-rotate(80deg) brightness(90%) contrast(126%);
    }
/*#endregion*/

/*#region OVERLAY Menu overlay*/
    .NavOverlay
    {
        height: 0;
        z-index: 4;
        bottom: 0;
        left: 0;
        width: 100%;
        position: fixed;
        background-color: var(--overlaypurple);
        overflow-x: hidden;
        transition: 200ms;
    }
    .NavOverlayOpaque
    {
        background-color: var(--purple);
    }
    .NavOverlay > .OverlayContent
    {
        position: relative;
    }
    .NavOverlay > .OverlayContent a, .NavOverlay > .CloseOverlayButton
    {
        text-decoration: none;
        margin-top: 1rem;
        font-size: 1.8rem;
        color: white;
        display: block;
    }
    .NavOverlay .OverlayContent a:hover, .NavOverlay .OverlayContent a:focus
    {
        color: var(--green);
        transition: 150ms;
    }
    .NavOverlay > .CloseOverlay
    {
        right: 2rem;
    }
    .OverlayContent hr
    {
        border-bottom: 1px solid white;
    }

/*#endregion*/

/*#region OVERLAY Filter overlay*/
    .HiddenSearchSection
    {
        margin-top: 0;
        z-index: 4;
        text-align: center;
    }
    .HiddenSearchSection > span
    {
        background-color: transparent;
        border: 1px solid transparent;
    }
    .HiddenSearchSection .SearchEl1, .HiddenSearchSection .SearchEl2, .HiddenSearchSection .SearchEl3, .HiddenSearchSection .SearchEl4
    {
        background-color: white;
    }
    @media only screen and (min-width: 576px)
    {
        .HiddenSearchSection .SearchEl3, .HiddenSearchSection .SearchEl4
        {
            width: 48.75%;
        }        
    }
    .FilterOverlayBox
    {
        position: absolute;
        width: 90vw;
        margin-left: 5vw;
        margin-top: 5vw;
        max-width: 60rem;
    }
    @media only screen and (min-width: 768px)
    {
        .FilterOverlayBox
        {
            width: auto;
            margin: auto;
            left: 2rem;
            right: 2rem;
            top: 2rem;
        }
        .FilterMain
        {
            border-radius: 1rem;
        }
    }
    .FilterMain
    {
        border-radius: 0.5rem;
        width: 100%;
        background-color: var(--bg);
        overflow: hidden;
    }
    .CloseMobileSearch
    {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        background-color: var(--purple);
        transition: all 150ms;
    }
    .CloseMobileSearch:active, .CloseMobileSearch:hover
    {
        background-color: var(--lightgray);
    }
    .FilterHeader
    {
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--black);
    }
    .FilterDividerLine
    {
        border-bottom: 1px solid var(--lightgray);
    }
    .ClearFilterButton
    {
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 2.6rem;
    }
    .ClearFilterButton:link, .ClearFilterButton:visited, .ClearFilterButton:hover, .ClearFilterButton:active
    {
        color: var(--black);
    }
    .ShowFilterButton
    {
        width: 7rem !important;
        color: white;
        font-weight: 600;
        background-color: var(--purple);
        border: 1px solid var(--purple);
    }
    .ShowFilterButton:hover, .ShowFilterButton:focus
    {
        background-color: var(--black);
        border: 1px solid var(--black);
        transition: 150ms all;
    }
    .FilterFooter
    {
        background-color: var(--bordergray);
    }
    @media only screen and (max-width: 767px)
    {
        .FilterFooter
        {
            width: 90vw;
            position: fixed;
            bottom: -3.3rem;
            transition: all 150ms ease;
        }
    }
/*#endregion*/

/*#region OVERLAY Filter overlay checkboxes*/
    .FilterCheckboxContainer
    {
        width: auto;
        display: inline-flex;
        flex-wrap: wrap;
        list-style: none;
    }
    .FilterCheckboxContainer li
    {
        display: inline;
    }
    .FilterCheckbox
    {
        margin-top: 0.1rem;
    }
    .FilterSmallText
    {
        font-weight: 500;
    }
    .FilterCheckboxContainer li label
    {
        display: inline-block;
        border: 1px solid var(--bordergray);
        color: var(--normalgray);
        border-radius: 2rem;
        white-space: nowrap;
        margin-right: 0.75rem;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: all 150ms;
        padding-right: 1.8rem !important; 
    }
    .FilterCheckboxContainer li label
    {
        padding: 0.3rem 0rem;
        cursor: pointer;
    }
    .FilterCheckboxContainer li label::before
    {
        display: inline-block;
        padding-left: 1rem;
        content: "\f067";
        transition: 150ms all;
        opacity: 0;
        border: none;
        visibility: hidden;
    }
    .FilterCheckboxContainer li input[type="checkbox"]:checked + label::before
    {
        content: "\f00c";
        transform: rotate(-360deg);
        transition: 150ms all;
        opacity: 0;
        border: none;
        visibility: hidden;
    }
    .FilterCheckboxContainer li input[type="checkbox"]:checked + label
    {
        border: 1px solid transparent;
        background-color: var(--green);
        color: white;
        transition: 150ms all;
    }
    .FilterCheckboxContainer li input[type="checkbox"]
    {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    .FilterUl
    {
        padding-inline-start: 0px !important;
    }
/*#endregion*/
