/*#region Profile section*/
    .ProfileHeader
    {
        width: 100%;
        background-color: var(--purple);
        padding: 2rem;
    }
    .ProfileHeaderText
    {
        color: white;
        font-size: 2rem;
    }
    .ProfileCardBox
    {
        margin-left: 20rem;
        margin-right: 20rem;
    }
    .ProfileSelectBar
    {
        width: 100%;
        line-height: 1rem;
    }
    .ProfileFooterDiv
    {
        width: 12rem;
    }
    .ProfileCardBorderBox
    {
        width: 100%;
        border: solid 1px var(--bordergray);
        border-radius: 1rem;
        overflow: hidden;
    }
    .ProfileEditButton
    {
        border: 1px solid var(--lightergray);
        background-color: var(--lightergray);
        color: white;
        font-weight: 500;
    }
    .ProfileImg
    {
        background-color: var(--purple);
        color: white;
        font-size: 1.5rem;
        width: 12rem;
        min-width: 12rem;

    }
    .ProfileText
    {
        font-size: 1.1rem;
    }
    .ProfileBarColor
    {
        color: var(--gray);
    }
    .ProfileBarUnderline
    {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }
    .ProfileFontweight
    {
        font-weight: 500;
    }
    .FavouriteRestaurantFont
    {
        font-size: 2rem;
    }
    .FavouriteContainer 
    {
        background-color: var(--lightestgray);
    }
    .FavouriteContainer > .FavBox
    {
        max-width: 1240px;
    }

    .TextDecorationNone{
        color: var(--gray);
        text-decoration: none !important;
    }
    .TextDecorationNone:hover{
        color: black;
        text-decoration: none !important;
    }


    @media only screen and (max-width: 768px)
    {
        .DisplayNone{
            display: none;
        }

        .FavouriteContainer{
            background-color: transparent;
        }

        .colorhederblackt{
            color: black;
        }
        
    }

    @media only screen and (max-width: 1080px)
    {
        .DisplayNoner{
            display: none;
        }

        
    }



    

    @media only screen and (min-width: 768px)
    {
        .DisplayNoneBig{
            display: none;
        }

    }
/*#endregion*/

/*#region Card section*/
    .MediumStaticCard
    {
        width: 22rem;
    }
    .MediumStaticCard img
    {
        aspect-ratio: 422 / 248;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    .mtminserchal{
        margin-top: -1rem !important;
    }
/*#endregion*/

/*#region CardBox*/

@media only screen and (max-width: 1735px)
{
    .ProfileCardBox
    {
        margin-left: 19rem;
        margin-right: 19rem;
    }
}
@media only screen and (max-width: 1560px)
{
    .ProfileCardBox
    {
        margin-left: 11rem;
        margin-right: 11rem;
    }
}

@media only screen and (max-width: 936px)
{
    .ProfileCardBox
    {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 770px)
{
    .ProfileCardBox
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 581px)
{
    .ProfileCardBox
    {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}
/*#endregion*/