/*#region All cards*/
    .MediumCard
    {
        cursor: auto;
    }
    .HistoryCard
    {
        width: auto;
        max-width: 54rem;
    }
    .HistoryCard
    {
        width: 100%;
        height: 10rem;
        border: 1px solid var(--bordergray);
        border-radius: 0.75rem;
        overflow: hidden;
    }
    .HistoryClickableImage img
    {
        height: 100%;
        object-fit: cover;
    }
    .CardHistoryReserveButton
    {
        float: right;
        width: 6rem;
        background-color: var(--green);
        border: 1px solid var(--green);
        color: white;
        font-weight: 500;
        line-height: 2.4rem;
    }
    .CardHistoryReserveButton:hover, .CardHistoryReserveButton:active
    {
        background-color: var(--black);
        border: 1px solid var(--black);
        transition: all 150ms;
    }
    @media only screen and (min-width: 0px) and (max-width: 575px)
    {
        .HistoryClickableImage
        {
            width: 100%;
            height: 10rem;
        }
        .HistoryCardTextBox
        {
            width: 100%;
        }
    }
    @media only screen and (min-width: 576px)
    {
        .HistoryClickableImage
        {
            width: 35%;
        }
        .HistoryCardTextBox
        {
            width: auto;
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 767px)
    {
        .MediumCard
        {
            width: 100%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .CardRow
        {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .CardReserveButton
        {
            width: 8rem;
        }
        .CardReserveButtonContainer
        {
            width: 100%;
        }
        .CardHalfContainer
        {
            display: flex;
        }
        .CardImageHalf
        {
            width: clamp(1rem, 45vw, 25rem);
        }
        .CardImageHalf img
        {
            object-fit: cover;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .CardRow
        {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .CardRow
        {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 992px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .CardRow
        {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .CardReserveButton
        {
            width: 4rem;
        }
    }
    @media only screen and (min-width: 1200px)
    {
        .CardRow
        {
            width: 1200px;
        }
    }

/*#endregion*/

/*#region Profile section*/
    .ProfileHeader
    {
        width: 100%;
        background-color: var(--purple);
        padding: 1.5rem;
    }
    .ProfileHeaderText
    {
        color: white;
        font-size: 2rem;
    }
    .MobileNavbarTopSpacer 
    {
        background-color: var(--purple);
    }
    .SelectionLink, .SelectionLink:active, .SelectionLink:focus, .SelectionLink:hover, .SelectionLink:visited
    {
        color: var(--normalgray);
    }
    .SelectionLink:hover, .SelectionLink:active
    {
        color: var(--black);
    }
    .SelectionLinkClicked, .SelectionLinkClicked:active, .SelectionLinkClicked:focus, .SelectionLinkClicked:hover, .SelectionLinkClicked:visited
    {
        color: var(--black);
        font-weight: 800;
    }
    @media only screen and (max-width: 767px)
    {
        .SelectionLink, .SelectionLink:active, .SelectionLink:focus, .SelectionLink:hover, .SelectionLink:visited
        {
            width: 100%;
            text-decoration: none;
        }
        .ProfileHeader
        {
            padding: 1rem;
        }
        .ProfileHeaderText
        {
            color: white;
            font-size: 1.4rem;
        }
        .MobileDividerLine
        {
            width: 100%;
            border-bottom: 1px solid var(--bordergray);
        }
        .SelectionContainer
        {
            width: 100%;
        }
    }
    @media only screen and (min-width: 768px)
    {
        .MobileDividerLine
        {
            display: none;
        }
        .SelectionLink
        {
            text-underline-offset: 0.5rem;
        }
        .SelectionLinkClicked
        {
            text-decoration: underline;
        }
        .SelectionContainer
        {
            width: 48rem;
        }
    }
/*#endregion*/

/*#region 0th selection (user profile)*/
    .UserContainer
    {
        width: 100%;
        height: 10rem;
        border: 1px solid var(--bordergray);
        border-radius: 0.75rem;
        overflow: hidden;
    }
    .ProfileImageBox
    {
        width: 7rem;
        height: 10rem;
        background-color: var(--purple);
    }
    .ProfileImageBox p
    {
        color: white;
        font-weight: 600;
        font-size: 1.3rem;
    }
    .UserTextSmall
    {
        font-size: 0.8rem;
    }
    .EditButton
    {
        float: right;
        width: 6rem;
        background-color: var(--bordergray);
        color: white;
        font-weight: 500;
        line-height: 2.4rem;
    }
    .EditButton:hover, .EditButton:active
    {
        background-color: var(--purple);
        border: 1px solid var(--purple);
        transition: all 150ms;
    }
    .EditText
    {
        width: 7rem;
        text-align: center;
    }
    .EditText a:active, .EditText a:focus, .EditText a:hover, .EditText a:visited
    {
        color: var(--black);
    }
    @media only screen and (min-width: 768px)
    {
        .ProfileImageBox
        {
            width: 10rem;
        }
        .EditText
        {
            width: 10rem;
        }
    }

    .FavouriteSmall
    {
        background-color: var(--bg);
    }
    .FavouriteHeader
    {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--black);
    }
/*#endregion*/

/*#region 3rd selection (settings)*/
    .SettingsContainer
    {
        width: 100%;
    }
    @media only screen and (min-width: 768px)
    {
        .SettingsContainer
        {
            max-width: 54rem;
        }
    }
    .SettingBlock
    {
        min-height: 43.2px;
        display: flex;
        align-items: center;
    }
    .SettingTextBox
    {
        width: calc(100% - 8rem);
    }
    .SettingOptionBox
    {
        width: 8rem;
    }
    .SettingTextLarge
    {
        font-weight: 700;
        margin-bottom: 0;
    }
    .SettingTextSmall
    {
        margin-bottom: 0;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--normalgray);
    }
    .SettingResetButton
    {
        font-weight: 500;
        color: white;
        background-color: var(--bordergray);
        border: 1px solid var(--bordergray);
        line-height: 2.2rem;
    }
    .SettingResetButton:hover, .SettingResetButton:active
    {
        background-color: var(--purple);
        border: 1px solid var(--purple);
        transition: all 150ms;
    }
    .SettingLogoutButton
    {
        background-color: transparent;
        border: 1px solid transparent;
        padding-right: 1.8rem;
        width: 7rem;
        line-height: 2.2rem;
        color: #ce0000;
        font-weight: 500;
        background-image: url(icons/exit.png);
        background-size: 1.6rem 1.6rem;
        background-repeat: no-repeat;
        background-position: center;
        background-position: 4.8rem;
    }
    .SettingLogoutButton:hover, .SettingLogoutButton:active
    {
        background-color: var(--bordergray);
        border: 1px solid var(--bordergray);
    }
/*#endregion*/

/*#region Green toggle*/
    .GreenToggleLabel
    {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .GreenToggleLabel input
    { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .GreenToggleSlider
    {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bordergray);
        -webkit-transition: 150ms;
        transition: 150ms;
    }
    .GreenToggleSlider:before
    {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 150ms;
        transition: 150ms;
    }
    .GreenToggleLabel input:checked + .GreenToggleSlider
    {
        background-color: var(--green);
    }
    .GreenToggleLabel input:focus + .GreenToggleSlider
    {
        box-shadow: 0 0 1px var(--green);
    }
    .GreenToggleLabel input:checked + .GreenToggleSlider:before
    {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .GreenToggleSlider
    {
        border-radius: 1rem;
    }
    .GreenToggleSlider:before
    {
        border-radius: 50%;
    }
/*#endregion*/