.PhotoMaxMinWithScalerReserv{
    max-width: 100%;
    min-height: 100%!important;
}

.ProfileCardBorderBox{
    width: 100%;
    border: solid 1px var(--bordergray);
    border-radius: 1rem;
    overflow: hidden;
}

.ProfileImgres{
    padding: 0;
}

.AlignImgRestHist{
    margin-right: -10rem;
}

.historyrestbutton{
    border: none;
    font-weight: 500;
    background-color: var(--green);
    color: white;
}

.BoxRaundPosiRelative{
    background-color: aliceblue;
    position: absolute;
    padding: 0.6rem;
    margin: 1rem;
    border-radius: 50%;
    width: 3rem;
    text-align: center;
}





/*#hmmm*/
.ImgAlign{
    
}
/*#endregion*/


@media only screen and (max-width: 770px)
{

  .MaxWidth
  {
      padding: 0 0rem 0 0rem !important;
  }

  .colorhederblackt{
    color: black;
}

}



@media only screen and (max-width: 1230px)
{
    .DisplayNoneSmallDisplayyBig{
        display: none;
    }
}


@media only screen and (min-width: 1231px)
{
    .DisplayNoneBiggDisplayySmall{
        display: none;
    }
}

