/*#region Descriptive header*/
    .HeaderContainer
    {
        height: 22rem;
        border-radius: 0.75rem;
        background-image: url('images/descriptive_header.png');
        background-size: cover;
        background-position: center;
    }
    .BackButton
    {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        line-height: 2.45rem;
        font-size: 1.6rem;
        border: 1px solid var(--bordergray);
        font-weight: 300;
    }
    .BackButton:active, .BackButton:hover, .PhotoButton:active, .PhotoButton:hover
    {
        background-color: var(--purple);
        border: 1px solid var(--purple);
        color: white;
        transition: all 150ms linear;
    }
    .PhotoButton
    {
        width: 9rem;
        font-weight: 500;
        font-size: 0.7rem;
        line-height: 2.4rem;
    }
    .HeaderLargeText
    {
        color: white;
        font-size: 2rem;
    }
    .HeaderSmallText
    {
        color: white;
        max-width: 50rem;
        font-size: 0.9rem;
    }
    .HeaderReadMore:link, .HeaderReadMore:visited, .HeaderReadMore:hover, .HeaderReadMore:active
    {
        font-size: 0.9rem;
        font-weight: 700;
        color: white;
    }
    @media only screen and (max-width: 767px)
    {
        .HeaderDetailsContainer
        {
            max-width: 400px;
            margin: auto;
        }
        .DescriptiveHeaderSection
        {
            padding: 0;
        }
        .HeaderContainer
        {
            border-radius: 0;
        }
        .HeaderContainer
        {
            height: 27rem;
        }
        .HeaderDetailBox
        {
            width: 100%;
        }
    }
/*#endregion*/

/*#region Descriptive header details*/
    .HeaderDetails
    {
        font-size: 0.8rem;   
        font-weight: 500;
        color: var(--gray);
    }
    .HeaderDetails a:link, .HeaderDetails a:visited, .HeaderDetails a:hover, .HeaderDetails a:active
    {
        color: var(--gray);
    }
    .HeaderDetailsSpacer
    {
        border: 0.5px solid var(--bordergray);
    }
    .DetailsFavouriteButton
    {
        color: var(--black);
        border: 1px solid var(--bordergray);
        background-color: var(--lightbg);
        font-weight: 500;
        line-height: 2.4rem;
        width: 7rem;
    }
    .DetailsFavouriteButton:active, .DetailsFavouriteButton:hover
    {
        background-color: var(--bordergray);
        transition: all 150ms;
    }
    .DetailsFavouriteButton p::before
    {
        background-size: 0.75rem 0.75rem;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: -0.15rem;
        margin-top: 0.8rem;
        background-image: url("icons/heart.png");
    }
    .DetailsReservationButton
    {
        color: white;
        border: 1px solid var(--green);
        background-color: var(--green);
        font-weight: 500;
        line-height: 2.4rem;
        width: 10rem;
    }
    .DetailsReservationButton:active, .DetailsReservationButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
        transition: all 150ms;
    }
/*#endregion*/


/*#region General*/
    .LinkDeselected:link, .LinkDeselected:visited, .LinkDeselected:hover, .LinkDeselected:active
    {
        color: var(--lightgray);
    }
    .LinkSelected:link, .LinkSelected:visited, .LinkSelected:hover, .LinkSelected:active
    {
        color: var(--black) !important;
        text-decoration: underline;
    }
/*#endregion*/

/*#region Offers side*/
    .RestaurantDescription
    {
        width: 100%;
        display: flex;
    }
    @media only screen and (max-width: 991px)
    {
        .DescriptionSide
        {
            width: 100%;
        }
        .CalendarSide
        {
            width: 0;
        }
    }
    @media only screen and (min-width: 992px)
    {
        .DescriptionSide
        {
            width: calc(100vw - 30rem);
        }
        .CalendarSide
        {
            width: 30rem;
        }
    }
    .DescriptionMenu a:link, .DescriptionMenu a:visited, .DescriptionMenu a:hover, .DescriptionMenu a:active
    {
        font-size: 1.1rem;
        font-weight: bold;
        text-underline-offset: 0.5rem;
    }
    @media only screen and (min-width: 0px) and (max-width: 575px)
    {
        .IconColumn
        {
            width: 100%;
        }        
    }

    .DescriptionFont
    {
        font-size: 0.8rem;
    }
    .DescriptionHeader
    {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .SquareCard
    {
        width: 12rem
    }
    .SquareCard img
    {
        aspect-ratio: 1 / 1;
        border-radius: 0.3rem;
    }
    .DescriptionMap
    {
        border-radius: 0.5rem;
        height: 14rem;
        background-image: url('images/map.png');
        background-size: cover;
        background-position: center;
    }
/*#endregion*/

/*#region Food menu side*/
    .FoodMenuCard
    {
        width: auto;
        border-radius: 0.5rem;
        overflow: hidden;
        border: 1px solid var(--bordergray);
    }
    .FoodMenuCard > img
    {
        aspect-ratio: 125 / 139;
    }
    .FoodMenuText
    {
        font-weight: 500;
    }
    .FoodMenuTextBold
    {
        font-weight: 700;
    }
    @media only screen and (min-width: 0px) and (max-width: 575px)
    {
        .FoodMenuTextBold
        {
            font-size: 0.85rem;
        }
        .FoodMenuText
        {
            font-size: 0.75rem;
        }
    }
/*#endregion*/

/*#region Calendar overlay*/
    .CalendarOverlayContainer
    {
        width: 26rem;
        height: 100vh;
        margin-top: 5vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .CloseCalendarOverlay
    {
        width: 26rem;
        position: absolute;
    }
    @media only screen and (max-width: 767px)
    {
        .CalendarOverlayContainer
        {
            width: 90vw;
            margin-top: 5vw;
            margin-left: 5vw;
            position: fixed;
        }
        .CloseCalendarOverlay
        {
            width: 90vw;
            position: absolute;
        }
    }
/*#endregion*/

/*#region Calendar*/
.CalendarWrapper
{
    height: 37rem;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.CalendarLine
{
    border: 1px solid var(--lightestgray);
}
.InnerBox
{
    max-width: 22rem;
}
.CheckInText
{
    font-weight: 600;
    font-size: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: var(--purple);
    color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.CheckInButton
{
    background-color: var(--green);
    border: 1px solid var(--green);
    width: 12rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: white;
}
.CheckInButton:hover
{
    background-color: var(--black);
    border: 1px solid var(--black);
    transition: all 150ms;
}
.TimePill
{
    height: 3.2rem;
    line-height: 3.1rem;
    background: url("icons/time.png") no-repeat left;
    background-size: 1.1rem;
    background-position-x: 0.8rem;
}
.GuestsPill
{
    height: 3.2rem;
    line-height: 3.1rem;
    background: url("icons/guest.png") no-repeat left;
    background-size: 1.1rem;
    background-position-x: 0.8rem;
}
/*#endregion*/

/*#region Green navbar*/
    .GreenNavbar
    {
        height: 3rem;
        position: fixed;
        bottom: 3.3rem;
        z-index: 3;
    }
    .GreenNavbar > button
    {
        background-color: var(--green);
        border: none;
        color: white;
        font-weight: 600;
    }
/*#enddregion*/