/*#region General styles and links*/
:root
{
    --result_offset: 5rem;
}
/*#endregion*/

/*#region Tag section*/
    .TagSection
    {
        overflow: hidden;
        white-space: nowrap;
    }
    .TagButton
    {
        cursor: grab !important;
        background-color: var(--lightbg);
        color: var(--normalgray);
        font-weight: 600;
        width: auto;
    }
    .TagFilterButton
    {
        width: 2.6rem;
        background-color: var(--purple);
        border: 1px solid var(--purple);
    }
    .TagFilterButton > p::before
    {
        background-image: url("icons/filter.png");
        background-size: 1rem 1rem;
        margin-left: -0.25rem;
        margin-top: 0.75rem;
        background-repeat: no-repeat;
    }
    .TagFilterButton > p::after
    {
        display: none;
    }
    .TagFilterButton:hover
    {
        background-color: var(--black);
        border: 1px solid var(--black);
    }
    @media only screen and (max-width: 767px)
    {
        .TagFilterButton
        {
            height: 2rem;
            width: 2rem;
        }
        .TagFilterButton > p::before
        {
            background-size: 1rem 1rem;
            margin-left: -0.55rem;
            margin-top: 0.45rem;
        }
        .TagButton
        {
            height: 2rem;
            line-height: 1.9rem;
        }
    }
/*#endregion*/

/*#region Main*/
    @media only screen and (min-width: 768px)
    {
        .ResultContainer
        {
            display: inline-flex;
            height: calc(100vh - 5rem - 2px - 48px);
        }        
    }
/*#endregion*/

/*#region Result half*/
    .ResultHalf
    {
        border-top: 1px solid var(--bordergray);
        transition: width 400ms ease-in-out;
        overflow-y: scroll;
    }
    .ResultHalf::-webkit-scrollbar
    {
        width: 0;
        height: 0;
    }
    .ResultMaxWidth
    {
        max-width: 100%;
    }
    .ResultHeader
    {
        font-size: 2rem;
    }
    .ResultCardBox
    {
        width: 100%;
        cursor: auto;
    }
    @media only screen and (min-width: 400px)
    {
        .ResultCardBox
        {
            width: 50% !important;
        }
    }
    @media only screen and (max-width: 767px)
    {
        .ResultHalf
        {
            width: 100%;
            transform: translateX(0) !important;
            margin-left: 0 !important;
        }
    }
    @media only screen and (min-width: 768px)
    {
        .ResultHalf
        {
            width: calc(50% + var(--result_offset));
            transform: translateX(var(--result_offset));
            margin-left: calc(-1 * var(--result_offset));
        }
        .ResultMaxWidth
        {
            width: calc(880px + var(--result_offset));
        }
    }

/*#endregion*/

/*#region Card sizes/adjustments*/
    .MediumCard
    {
        cursor: auto;
    }
    @media only screen and (min-width: 0px) and (max-width: 450px)
    {
        .MediumCard
        {
            width: 100%;
        }
    }
    @media only screen and (min-width: 450px) and (max-width: 669px)
    {
        .MediumCard
        {
            max-width: 24rem;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: center;
        }
    }
    @media only screen and (min-width: 670px) and (max-width: 767px)
    {
        .MediumCard
        {
            width: 48%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .MediumCard
        {
            width: 24rem;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: center;
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1300px)
    {
        .MediumCard
        {
            width: 24rem;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: center;
        }
    }
    @media only screen and (min-width: 1301px) and (max-width: 1800px)
    {
        .MediumCard
        {
            width: 48%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }
    @media only screen and (min-width: 1801px) and (max-width: 2000px)
    {
        .MediumCard
        {
            width: 32%;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }
    @media only screen and (min-width: 2001px)
    {
        .MediumCard
        {
            width: 24rem;
        }
        .CardAdjustedText
        {
            width: 100%;
        }
        .ResultCardRow
        {
            display: flex;
            justify-content: space-between;
        }
    }

/*#endregion*/

/*#region Map half*/
    .MobileMap
    {
        height: 12rem;
        background-image: url(images/map.png);
        background-position: center;
        background-size: cover;
    }
    .MapHalf
    {
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        background-image: url(images/map.png);
        background-position: center;
        background-size: cover;
    }
    @media only screen and (max-width: 767px)
    {
        .MapHalf
        {
            width: 0%;
            transform: translateX(0);
        }
        .MapArrowButton[value=shrunk]
        {
            margin-left: -3rem !important;
        }
        .MapArrowButton[value=expanded]
        {
            margin-left: 1rem !important;
        }
    }
    @media only screen and (min-width: 768px)
    {
        .MapHalf
        {
            transform: translateX(var(--result_offset));
            width: calc(50% - var(--result_offset));
        }
    }
    .MapArrowButton
    {
        margin: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: var(--bg);
        border: 1px solid var(--lightergray);
        font-size: 1.3rem;
        line-height: 1.8rem;
        color: var(--black);
        transition: all 150ms;
        z-index: 2;
    }
    .MapArrowButton:hover, .MapArrowButton:active
    {
        background-color: var(--lightergray);
    }
/*#endregion*/
